
.dice {
  cursor: pointer;
  transition: transform 100ms ease-out;

  &.is-holding {
    transform: translateY(8px);
    transition: transform 100ms ease-out;
  }

  &.shake {
    animation: shake 0.2s infinite;

    @keyframes shake {
      0% {
        transform: rotate(8deg);
      }

      50% {
        transform: rotate(-8deg);
      }

      100% {
        transform: rotate(8deg);
      }
    }
  }
}
