<div class="content">
  <p class="hint">Click on a dice to hold it through the next roll</p>
  <div class="dice-container" #diceContainer [class.is-playing]="dice.gameStarted">
    <ytz-dice [diceNumber]="1" [value]="dice.values[0]"></ytz-dice>
    <ytz-dice [diceNumber]="2" [value]="dice.values[1]" ></ytz-dice>
    <ytz-dice [diceNumber]="3" [value]="dice.values[2]"></ytz-dice>
    <ytz-dice [diceNumber]="4" [value]="dice.values[3]"></ytz-dice>
    <ytz-dice [diceNumber]="5" [value]="dice.values[4]"></ytz-dice>
  </div>
  <button class="btn start-game" (click)="onPlay()" *ngIf="!dice.gameStarted">Play</button>
  <button class="btn roll-dice" (click)="onRoll()" *ngIf="dice.gameStarted" [disabled]="round.try == 3">
    Roll
  </button>
  <div class="table-container">
    <ytz-table [dices]="diceValues"></ytz-table>
  </div>
</div>
