
.content {
  margin: 10px;

  .hint {
    color: darkgrey;
    font-size: .9rem;
    text-align: center;
  }

  .dice-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    ytz-dice + ytz-dice {
      margin-left: 20px;
    }

    &:not(.is-playing) {
      opacity: .2;
    }
  }

  .btn {
    display: flex;
    margin: 0 auto 20px;
  }

  .table-container {
    width: fit-content;
    margin: auto;

    ytz-table {
      display: flex;
    };
  }
}
