header {
  background: darkblue;

  h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
  }
}

main {
  margin: 10px;

  .hint {
    display: block;
    color: darkgrey;
    text-align: center;
  }

  .btn {
    display: flex;
    margin: 0 auto 20px;
  }
}
