header {
  background: darkblue;

  h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: white;
  }
}

main {
  margin: 10px;

  .hint {
    display: block;
    color: darkgrey;
    text-align: center;
  }

  .dice-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;

    &:not(.is-playing) {
      opacity: 0.2;
    }
  }

  .btn {
    display: flex;
    margin: 0 auto 20px;
  }

  .table-container {
    width: fit-content;
    margin: auto;

    ytz-table {
      display: flex;
    }
  }
}
