/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: cornflowerblue;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 5px 10px;

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    background: darkgrey;
  }
}
