/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

button {
  cursor: pointer;
  background: cornflowerblue;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: filter 200ms ease;

  &:active {
    transform: translateY(1px);
  }

  &:hover:not(:disabled) {
    filter: brightness(110%);
    transition: filter 200ms ease;
  }

  &:disabled {
    background: lightgrey;
    box-shadow: none;
    color: white;
  }
}
