/* You can add global styles to this file, and also import other style files */

$btn-animation: box-shadow 200ms ease, color 200ms ease;

body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 0 2pt cornflowerblue;
  padding: 5px 10px;
  color: cornflowerblue;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: $btn-animation;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    box-shadow: 0 0 0 2pt black;
    color: black;
    transition: $btn-animation;
  }

  &:disabled {
    background: lightgrey;
    box-shadow: none;
    color: white;
  }
}
