$border: 1px solid black;

table {
  margin: auto;
  border-collapse: collapse;

  tr:not(:last-child) {
    border-bottom: $border;
  }

  th {
    text-align: left;
  }

  td, th {
    padding: 8px;

    &:not(:last-child) {
      border-right: $border;
    }
  }

  td {

    &:nth-child(3), &:nth-child(4) {
      text-align: center;
    }

    span {
      color: darkgrey;
      font-size: .8rem;
    }
  }
}
