$border: 1px solid lightgrey;

table {
  margin: auto;
  border-collapse: collapse;

  tr:not(:last-child) {
    border-bottom: $border;
  }

  th {
    text-align: left;
  }

  td, th {
    padding: 8px;

    &:not(:last-child) {
      border-right: $border;
    }
  }

  td {

    &:nth-child(3), &:nth-child(4) {
      text-align: center;
    }

    small {
      color: darkgrey;
    }
  }
}

table:nth-child(2) {
  margin-top: 0;
}
