<table>
  <!-- Upper Section -->
  <tr>
    <th>Upper Section</th>
    <th>How to Score</th>
    <th>Value</th>
    <th>Score</th>
    <th>Option</th>
  </tr>
  <tr>
    <td>Aces</td>
    <td>Add only Aces</td>
    <td>{{ score.acesValue }}</td>
    <td>{{ score.acesScore }}</td>
    <td>
      <ytz-score-button key="aces" [value]="score.acesValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Twos</td>
    <td>Add only Twos</td>
    <td>{{ score.twosValue }}</td>
    <td>{{ score.twosScore }}</td>
    <td>
      <ytz-score-button key="twos" [value]="score.twosValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Threes</td>
    <td>Add only Threes</td>
    <td>{{ score.threesValue }}</td>
    <td>{{ score.threesScore }}</td>
    <td>
      <ytz-score-button key="threes" [value]="score.threesValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Fours</td>
    <td>Add only Fours</td>
    <td>{{ score.foursValue }}</td>
    <td>{{ score.foursScore }}</td>
    <td>
      <ytz-score-button key="fours" [value]="score.foursValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Fives</td>
    <td>Add only Fives</td>
    <td>{{ score.fivesValue }}</td>
    <td>{{ score.fivesScore }}</td>
    <td>
      <ytz-score-button key="fives" [value]="score.fivesValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Sixes</td>
    <td>Add only Sixes</td>
    <td>{{ score.sixesValue }}</td>
    <td>{{ score.sixesScore }}</td>
    <td>
      <ytz-score-button key="sixes" [value]="score.sixesValue"></ytz-score-button>
    </td>
  </tr>

  <!-- Lower Section -->
  <tr>
    <th>Lower Section</th>
  </tr>
  <tr>
    <td>3 of a kind</td>
    <td>Add total of all dice</td>
    <td>{{ score.threeKindValue }}</td>
    <td>{{ score.threeKindScore }}</td>
    <td>
      <ytz-score-button key="threeKind" [value]="score.threeKindValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>4 of a kind</td>
    <td>Add total of all dice</td>
    <td>{{ score.fourKindValue }}</td>
    <td>{{ score.fourKindScore }}</td>
    <td>
      <ytz-score-button key="fourKind" [value]="score.fourKindValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Full House <br/> <span>5 of a kind</span></td>
    <td>Score 25</td>
    <td>{{ score.fullHouseValue }}</td>
    <td>{{ score.fullHouseScore }}</td>
    <td>
      <ytz-score-button key="fullHouse" [value]="score.fullHouseValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Small Straight <br/> <span>Sequence of 4</span></td>
    <td>Score 30</td>
    <td>{{ score.smallStraightValue }}</td>
    <td>{{ score.smallStraightScore }}</td>
    <td>
      <ytz-score-button key="smallStraight" [value]="score.smallStraightValue"></ytz-score-button>
    </td>
  </tr>
  <tr>
    <td>Large Straight <br/> <span>Sequence of 5</span></td>
    <td>Score 40</td>
    <td>{{ score.largeStraightValue }}</td>
    <td>{{ score.largeStraightScore }}</td>
    <td>
      <ytz-score-button key="largeStraight" [value]="score.largeStraightValue"></ytz-score-button>
    </td>
  </tr>
</table>
